.flash-messages-theme-image {
	display: inherit;
    width: 100%;
    height: auto;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.flash-messages-theme-image-checked, .flash-messages-theme-image:hover {
	cursor: pointer;
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.flash-messages-form-element-radio {
	width: 49%;
	float: left;
	margin-top: 10px !important;
	margin-right: 1% !important;
}
.flash-messages-settings legend {
	font-size: 16px !important;
	padding: 10px !important;
	background-color: #e0e0d8;
	width: 100%;
	border-radius: 5px;
}