{% if message.type == 'status' %}
	{% set icon = '73b355/check.svg' %}
{% elseif message.type == 'warning' %}
	{% set icon = 'e29700/warning.svg' %}
{% else %}
	{% set icon = 'e32700/error.svg' %}
{% endif %}
<div class="alert fade in alert-{{ message.type }}">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<img class='alert-image' alt='icon message'  src='/core/misc/icons/{{ icon }}' /><strong>{{ message.message }}</strong>
</div>

