{% if message.type == 'status' %}
	{% set icon = '73b355/check.svg' %}
{% elseif message.type == 'warning' %}
	{% set icon = 'e29700/warning.svg' %}
{% else %}
	{% set icon = 'e32700/error.svg' %}
{% endif %}
<div class="flash-message-progress-theme message {{ message.type }}">
	<h3><strong>{{ message.message }}</strong></h3>
</div>

