
{% for key , element in _context.options %}
	<div class="flash-messages-form-element-radio js-form-item form-item js-form-type-radio form-type-radio js-form-item-themes form-item-themes">  
		<input {% if key == _context.selected_theme|trim %} checked {% endif %}  data-drupal-selector="edit-themes-{{ key|replace('_','-') }}" type="radio" id="edit-themes-{{ key|replace('_','-') }}" name="themes" value="{{ key }}" class="form-radio">
 		 <label for="edit-themes-{{ key|replace('_','-') }}" class="option"><strong> {{ element }}</strong></label>
 		 <img class='{% if key == _context.selected_theme|trim %} flash-messages-theme-image-checked {% endif %} flash-messages-theme-image' width='350' height='200' src="{{  _context.theme_path }}/images/theme-images/{{ key|replace('_','-') }}.png">
 	</div>
{% endfor %}